# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment folders
venv/
env/
*.env

# Ignore local database
db.sqlite3

# Ignore vector databases or embeddings
vectorstore/
media/

# Ignore system files
.DS_Store
*.log

# VS Code settings
.vscode/
